# =========================
# NODE / DEPENDÊNCIAS
# =========================

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log


# =========================
# VARIÁVEIS DE AMBIENTE
# =========================

.env
.env.*
!.env.example


# =========================
# NEXT.JS / FRONTEND
# =========================

.next/
out/
dist/
build/

.vercel/


# =========================
# EXPO / REACT NATIVE
# =========================

.expo/
.expo-shared/

web-build/

*.jks
*.keystore

*.apk
*.aab


# =========================
# BACKEND
# =========================

uploads/
lixeira_documentos/
logs/

procuracao_gerada.pdf


# =========================
# FIREBASE / CREDENCIAIS
# =========================

firebaseAdmin.json

google-services.json

*.pem
*.key


# =========================
# IDE
# =========================

.vscode/
.idea/


# =========================
# SISTEMA OPERACIONAL
# =========================

.DS_Store
Thumbs.db